{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Add corresponding page suffix to base page title -->
{% block title_suffix %}- Home{% endblock %}

<!-- Page header -->
{% block content %}
<div class="home-overlay"></div>
<div class="hero container h-100 mt-5">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <div class="hero-wrapper">
                <!-- Hero image heading -->
                <img src="/media/title-bg.jpg" class = "img-fluid" alt="">
                <h1>Nuts about Praline!</h1>
                <!-- Hero image text -->
                <!-- Desktop buttons -->
                <p class="px-3">Welcome to the world of Just Praline, where passion meets confectionery craftsmanship in the vibrant coastal town of Brighton. Nestled within our small but dedicated company, we bring you a symphony of flavors and textures that will redefine your love for pralines.

                    At Just Praline, we embrace the art of handcrafting praline cubes that celebrate the distinct character of each nut. Our journey began with a vision to create a sensory experience that marries the richness of nuts with the indulgence of our own quality chocolate.</p>
                    
                    <p class="px-3">Drawing inspiration from Brighton's creative energy, we meticulously craft our praline cubes that capture the essence of individual nuts. Whether it's the classic elegance of hazelnuts, the buttery allure of almonds, or the exotic charm of macadamias, we transform each nut into a masterpiece of flavour.
                    
                    Our praline cubes come together in elegant boxes of 15, each cube a testament to our commitment to quality and authenticity. We believe that each praline should be a moment of delight, and our thoughtfully curated sets allow you to explore a spectrum of nutty nuances.</p>
                    
                    <p class="px-3">We have created a space of continuous exploration and innovation. We're not only expanding our repertoire of nut pralines but also venturing into the realm of chocolate enrobing, where the perfect blend of our signature chocolate and praline will enchant your taste buds.
                    
                    Furthermore, we understand the importance of inclusivity. Our experimentation extends to crafting vegan chocolate blends, ensuring that the joy of Just Praline can be savoured by everyone, regardless of dietary preferences.
                    
                    As we infuse our passion into every praline cube, we invite you to join us on this delectable adventure. Just Praline isn't just a name; it's a commitment to delivering moments of pure bliss, one exquisite praline cube at a time.</p>
            <div class="mt-3 d-none d-lg-block">
                <h4 class="text-center">
                    <!-- Products button directing to products view -->
                    <a href="{% url 'products' %}" class="btn btn-lg mt-2">Our Pralines</a>
                    <br class="d-block d-lg-none">
                </h4>
            </div>
            </div>
            
            <!-- Mobile buttons -->
            <div class="d-block d-lg-none">
                    <!-- Products button directing to products view -->
                    <a href="{% url 'products' %}" class="btn">Our Pralines</a>
                    <!-- Contact Us button directing to contact view -->
                    <a href="{% url 'contact' %}" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="row bg-light mx-3 rounded border border-dark mt-5">
        <div class="col-12 pt-3">
            <img src="/media/our-story.png" alt="Various Nuts" style='width: 100%;'>
            <h5 class="p-3">Our Story</h5>
        <p class="p-3">We are based in Brighton, a vibrant city located on the south coast of England, known for its rich cultural heritage, lively nightlife, and beautiful beaches. One of the many unique aspects of Brighton is its thriving local food scene, which includes a variety of small businesses specialising in artisanal chocolates. This is where Just Praline comes in, offering high-quality, handcrafted pralines made with the finest ingredients.</p>
        <img src="/media/pano.jpg" alt="Panoromic of Brighton" class="px-3" style='width: 100%;'>
        <p class="p-3">The company was founded by a passionate chocolatier who was inspired by the rich tradition of chocolate-making in Belgium and France. Using this knowledge and expertise, we have created a range of unique and delicious pralines that have won over the hearts of chocolate lovers in Brighton and beyond.
            
            We use only the highest quality ingredients, including ethically sourced cocoa beans from some of the world's best chocolate producers. The pralines are made in small batches, ensuring that each one is given the utmost care and attention to detail.</p>
    </div>
    </div>
     <!-- Products block -->
     <div class="row justify-content-center p-2">
        <!-- Iterate through products -->
        {% for product in products %}
        <div class="card-group products col-sm-12 col-md-6 col-lg-4">
            <!-- Bootstrap card directing to product detail page passing the product id -->
            <div class="card">
                <div class="card-header tags p-3">
                    <div class="row">
                        <div class="col-6">
                            {% if product.is_new %}
                            <span class="badge bg-success">NEW PRODUCT</span>
                            {% endif %}
                        </div>
                        <div class="col-6 text-end">
                            <span>
                            {% for tag in product.tags.all %}
                            <i class="mr-4 fa-lg fa-solid fa-tree" style="color: rgb(10, 167, 17)" data-toggle="tooltip" data-bs-placement="top" title="{{ tag }}"></i>
                            {% endfor %}
                            </span>
                        </div>
                    </div>
                </div>
              <!-- If product has image uploaded -->
                    {% if product.image %}
                    <!-- Product image served from media directory -->
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                    <!-- If product has no image -->
                    {% else %}
                    <!-- Placeholder image served from media directory -->
                    <img class="card-img-top" src="{{ MEDIA_URL }}placeholder.jpg" alt="{{ product.name }}">
                    {% endif %}
                <div class="card-body">
                    <!-- Bootstrap stretched link anchor passing product id to product detail view -->
                    <a href="{% url 'product_detail' product.id %}" class="stretched-link" aria-label="{{ product.name }}"></a>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="edition {{ product.edition|lower|cut:' ' }}">
                    <h6>{{ product.edition }}</h6>
                    </div>
                    <!-- Truncate text after 200 characters -->
                    <p class="card-text">{{ product.description|truncatechars:200 }}</p>
                    <small style="color: #874c00;">Read More</small>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">£{{ product.price }} per Box of 10 Pralines</li>
                    <li class="list-group-item">{% for tag in product.tags.all %}
                        <span class="badge text-bg-dark">{{ tag }}</span>
                        {% endfor %}</li>
                </ul>
                <!-- Conditional to check is user session has superuser status -->


                <div class="card-footer">
                <!-- Form with POST passing product id to the add to cart view -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    <!-- Django csrf token -->
                    {% csrf_token %}
                    <div class="row form-row">
                        <div class="col-6 text-center">
                            {% if product.has_stock %}
                            <span><i class="fas fa-square fa-xs" style="color: #3bc814; line-height: 2.3rem;"></i> In Stock</span>
                            {% else %}
                            <span><i class="fas fa-square fa-xs" style="color: #b80f0f; line-height: 2.3rem;"></i> Out of Stock</span>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <!-- Add to Cart button which submits form -->
                            {% if product.has_stock %}
                            <input type="submit" class="btn" value="Add to Cart">
                            {% else %}
                            <input type="submit" class="btn" value="Coming Soon" disabled>
                            {% endif %}
                        </div>
                        <!-- Hidden input to send path to view -->
                        <input type="hidden" name="path" value="{{ request.path }}">
                    </div>
                </form>
            </div>
            </div>
        </div>

        {% endfor %}

            
            
                </div>
                
                    <div class="row d-flex justify-content-center">
                      <div class="col-12">
                        <div class="card text-dark m-3">
                          <div class="card-body p-4">
                            <h4 class="mb-0">Recent comments</h4>
                            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                              
                            {% for review in page_obj %}
                            
                            <div class="d-flex flex-start" id="reviews">
                             
                              <div>
                                <h5><span class="fw-bold mb-1 badge bg-dark">{{ review.first_name }} {{ review.last_name }}</span></h5>
                                <h6><i class="fa-regular fa-circle-check text-success"></i> Verified Buyer</h6>
                                <div class="d-flex align-items-center mb-3">
                                  <p class="mb-0">
                                    {{ review.date }}
                                    {% if review.is_approved == False %}
                                    <span class="badge bg-primary">Pending</span>
                                    {% else %}
                                    <span class="badge bg-success">Approved</span>
                                    {% endif %}
                                  </p>
                                  {% if request.user.id == review.user.id %}
                                  <a href="{% url 'edit_review' review.id %}#review" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                  <a href="#" class="link-muted"
                                  data-bs-toggle="modal" data-bs-target="#modal-{{ review.id }}"><i class="fas fa-xmark ms-2"></i></a>
                                  {% endif %}
                                </div>
                                <p class="mb-0">
                                  {{ review.review }}
                                </p>
                              </div>
                            </div>
      
                            <hr class="p-2" />
      
                            
                            {% endfor %}
                            <div class="pagination text-end">
                              <span class="step-links">
                                  {% if page_obj.has_previous %}
                                      <a href="?page=1#reviews">&laquo; first</a>
                                      <a href="?page={{ page_obj.previous_page_number }}#reviews">previous</a>
                                  {% endif %}
                          
                                  <span class="current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>
                          
                                  {% if page_obj.has_next %}
                                      <a href="?page={{ page_obj.next_page_number }}#reviews">next</a>
                                      <a href="?page={{ page_obj.paginator.num_pages }}#reviews">last &raquo;</a>
                                  {% endif %}
                              </span>
                          </div>
                          </div>
                        </div>
                        {% if current_review %}
                        <!-- Modal -->
                        <div class="modal fade text-black" id="modal-{{ current_review.id }}" tabindex="-1"
                        aria-labelledby="modal-{{ current_review.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Are you sure you want to delete
                                        your Review?</h5>
                                    <!-- Button to close modal dialog -->
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your review will be permanently removed.
                                </div>
                                <div class="modal-footer">
                                    <!-- Back button to close modal dialog -->
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Back</button>
                                    <!-- Delete button passing message id to view -->
                                    <a class="btn btn-danger" role='button'
                                        href="{% url 'delete_review' current_review.id %}#review">Confirm Deletion
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
      
                        {% if user.is_authenticated %}
                        {% if not current_review %}
                        
                        
                        <div class="container my-5 py-5" id="review">
                          <div class="card text-dark">
                              <div class="card-body p-4">
                                  <h4 class="mb-0">Review Just Praline</h4>
                            <p class="fw-light mb-4 pb-2">Please be responsible with your language, reviews are screened.</p>
                            {% if review %}
                          <form method="post" action="{% url 'edit_review' review.id %}#reviews">
                           {% else %}
                           <form method="post" action="{% url 'home' %}#reviews">
                              {% endif %}
                          <!-- Django csrf token -->
                          {% csrf_token %}
                          <!-- From rendered from models as crispy form -->
                          {{ form|crispy }}
                          <div class="form-actions">
                              <!-- Send button which submits the form -->
                              
                              {% if review %}
                              <button type="submit" class="btn float-end mt-2">Update</button>
                              {% else %}
                              <button type="submit" class="btn float-end mt-2">Send</button>
                              {% endif %}
                          </div>
                      </form>
                  </div>
          </div>
          {% endif %}
          {% endif %}
              </div>
            </div>

</div>

{% endblock %}