{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Add corresponding page suffix to base page title -->
{% block title_suffix %}- Edit Profile{% endblock %}

<!-- Inject profile css into this template -->
{% block add_css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

<!-- Page header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Main content block -->
{% block content %}
<!-- Background image overlay -->
<div class="overlay"></div>
<div class="container">
    <!-- Page title -->
    <div class="row justify-content-center">
        <div class="col-10 col-offset-1">
            <hr>
            <h2 class="mb-4">Edit Profile</h2>
            <hr>
        </div>
    </div>
    <!-- Form block -->
    <div class="row justify-content-center">
        <div class="col-10 col-offset-1">
            <form class="mt-3" action="{% url 'edit_profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                <p class="text-muted">Personal Information</p>
                {{ form.first_name | as_crispy_field }}
                {{ form.last_name | as_crispy_field }}
                <p class="text-muted mt-4">Delivery Address</p>
                {{ form.default_address_line1 | as_crispy_field }}
                {{ form.default_address_line2 | as_crispy_field }}
                {{ form.default_city | as_crispy_field }}
                {{ form.default_county | as_crispy_field }}
                {{ form.default_postcode | as_crispy_field }}
                {{ form.default_country | as_crispy_field }}
                {{ form.default_phone_number | as_crispy_field }}
                <div>
                    <button class="btn col-12 mt-2">Confirm Update</button>
                    <a href="{% url 'profile' %}" class="col-12 btn mt-2">Back to Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}