{% extends "account/base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Add corresponding page suffix to base page title -->
{% block title_suffix %}- Update Password{% endblock %}

<!-- Inject profile css into this template -->
{% block add_css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block title %}
    <hr>
    <h2 class="block-header">{% trans "Change Password" %}</h2>
    <hr>
{% endblock %}

{% block inner %}
    <!-- Form with POST directing to account change password view -->
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        <!-- Django csrf token -->
        {% csrf_token %}
        <!-- Form rendered from model as crispy form -->
        {{ form | crispy }}
        <!-- Change Password button which submits form -->
        <button type="submit" class="btn float-end mt-2" name="action">{% trans "Change Password" %}</button>
    </form>

{% endblock %}
