{% extends "account/base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Add corresponding page suffix to base page title -->
{% block title_suffix %}- Set Password{% endblock %}

<!-- Inject profile css into this template -->
{% block add_css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <!-- Form with POST directing to account set password view -->
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        <!-- Django csrf token -->
        {% csrf_token %}
        <!-- Form rendered from models -->
        {{ form.as_p }}
        <!-- Set Password button which submits form -->
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
