{% extends "account/base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Add corresponding page suffix to base page title -->
{% block title_suffix %}- Password Reset Success{% endblock %}

<!-- Inject profile css into this template -->
{% block add_css %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <hr>
    <h2>{% trans "Change Password" %}</h2>
    <hr>
    <p>{% trans 'You have successfuly changed your password.' %}</p>
    <a class="btn float-end" href="{% url 'account_login' %}">Login Now</a>
{% endblock %}
