{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Add corresponding page suffix to base page title -->
{% block title_suffix %}- Contact Received{% endblock %}

<!-- Page header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- Main content block -->
{% block content %}
<!-- Background image overlay -->
<div class="overlay"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-offset-1">
            <hr>
            <!-- Page title -->
            <h2 class="block-header">Successful Contact Request</h2>
            <hr>
            <!-- Contact feedback -->
            <p> Thank you for your message {{ user }}.</p>
            <p>We have received it and endeavour to get back to you within 2 working days.</p>
            <!-- Anchor directing to message centre view -->
            <p>View messages in your <a href=" {% url 'message_centre' %}">Message Centre</a></p>
        </div>
    </div>
</div>
{% endblock %}